.padding-horizontal {
    padding: 10px;
}

.main-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: $HEADER_BAR_HEIGHT + 30; // Height of header bar
}

#status {
    justify-content: center;
    align-items: center;
    display: flex;
}