.padding-horizontal {
    padding: 10px;
}

.main-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px; // Height of header bar
}

#status {
    justify-content: center;
    align-items: center;
    display: flex;
}