.notifications {
    background: red;
    color: white;
    font-size: 0.5em;
    position: relative;
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 50%;
    /* display: flex; */
    padding: 0.2em 0.3em;
    position: absolute;
    margin: -5px;
}