.status-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 2em;

    & .avatar-text-area-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        & .avatar {

            & img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 5px solid white;
                position: absolute;
                margin-left: -20px;
                display: inline-block;
                margin-top: -5px;
            }
        }

        & .status {
            width: 100%;
            & textarea {
                   height: 100px;
                    width: 100%;
                    background: #f7f7f7;
                    border: 1px solid #f7f7f7;
                    border-radius: 3px;
                    padding: 1em 2.5em;
            }
        }
    }

    & .actions-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
         width: 100%;
         margin-top: -1.6em;
         z-index: 99;
        & div {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            & i {
                background: white;
                color: 'black';
                width: 50px;
                height: 50px;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                display: flex;
                box-shadow: 1px 1px 9px 2px #bfbfbf;
                margin-right: 10px;
                font-size: 1.5em
            }

            & i:hover {
                transition: all 200ms ease-in;
                transform: scale(1.5); 
            }

            & i.action-icon {
                color: white;
                background: #258dde;
            }
        }
    }
}